.input-wrapper {
    margin: 10px;
}

.input-field {
    width: 200px;
    height: 30px;
}

.button {
    width: 200px;
    height: 30px;
    cursor: pointer;
}

.container {
    text-align: center;
}

.button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    margin: 20px;
    color: blue;
}

.button-link:hover {
    color: blueviolet;
}

table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

table td button {
    margin: 5px;
}

table img {
    width: 80px;
    height: 80px;
}
